:root{
  --principal-bgColor: #203726;
  --secondary-bgColor: rgba(135, 219, 97, 1);
  --tertiary-bgColor: #0D1710;

  --principal-fontColor: #FFFFFF ;
  --secondary-fontColor: #0D1710 ;
  // --tertiary-fontColor: ;

  --title-font : 'League Gothic';
  --text-font : 'League Spartan';

}