<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MARCHÉ CON(SCIENT)</title>
    <link rel="stylesheet" href="./src/main.css">
</head>

<body>

    <!-- Modale -->
    <div id="myModal" class="modal modal--hp-start">
        <!-- Contenu de la modale -->
        <div class="modal-content">
            <div class="flex flex-col gap-5	 items-center u-color-secondary-bgColor relative">
                <span class="close">&times;</span>
                <img src="icons/logo-alt.svg" alt="">
                <p class="u-color-black uppercase text-2xl font-medium	text-center">Bienvenue dans notre expérience interactive<br>
                    où l'achat d'un sapin devient un jeu conscient. </p>
                <img src="images/regles.png" alt="" srcset="" style="width: 100%;">
                <div>
                    <div class="button flex gap-2 items-center px-12 py-5 rounded-full agree">
                        <p class="u-color-black">J’ai compris</p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    {% include "src/templates/header/header.html" %}

    <!-- <div id="sword-model"  style="width: 800px; height: 800px;"></div> -->
    <section class="herobanner flex flex-col items-center py-32" id="hp-cover-section">
        <h1 class="herobanner-title">MARCHÉ<span>CON</span>SCIENT</h1>
        <div class="herobanner-text text-center flex flex-col gap-6 pb-11">
            <p class="relative">Découvrez une expérience d'achat en ligne <br> unique, engageante et qui se dégrade à
                chaque étape.</p>
            <p class="relative"><span>PARCOUREZ</span>, <span>EXPLORER</span>, et <span>PROFITEZ</span> <br> de notre
                sélection en fonction de chaque saison.</p>
        </div>
        <div class="button flex gap-2 items-center px-12 py-5 rounded-full">
            <p><a href="fiche-produit.html"> Acheter nos sapins</a></p>
            <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g id="ic-arrow-right-rec">
                    <path id="Vector"
                        d="M9.16683 5.33333L11.8335 8.00004M11.8335 8.00004L9.16683 10.6667M11.8335 8.00004H5.16683M8.50016 14.6667V14.6667C10.0501 14.6667 10.8251 14.6667 11.4609 14.4963C13.1864 14.034 14.5341 12.6862 14.9965 10.9608C15.1668 10.3249 15.1668 9.54995 15.1668 8V8C15.1668 6.45004 15.1668 5.67507 14.9965 5.03923C14.5341 3.31377 13.1864 1.96604 11.4609 1.5037C10.8251 1.33333 10.0501 1.33333 8.50016 1.33333V1.33333C6.95021 1.33333 6.17523 1.33333 5.5394 1.5037C3.81394 1.96604 2.4662 3.31377 2.00387 5.03923C1.8335 5.67507 1.8335 6.45004 1.8335 8V8C1.8335 9.54995 1.8335 10.3249 2.00387 10.9608C2.4662 12.6862 3.81394 14.034 5.5394 14.4963C6.17523 14.6667 6.95021 14.6667 8.50016 14.6667Z"
                        stroke="#0D1710" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </g>
            </svg>
        </div>
    </section>

    <section class="dp flex flex-wrap items-center justify-center gap-20 pt-20 pb-24" id="hp-product-cards">
        <div class="w-5/12 flex justify-center">{% include './src/composant/dp.html' %}</div>
        <div class="w-5/12 flex justify-center">{% include './src/composant/dp.html' %}</div>
        <div class="w-5/12 flex justify-center">{% include './src/composant/dp.html' %}</div>
    </section>

    <section class="info py-24 flex flex-col">
        <div class="banner-wrapper">
            <div class="banner flex mb-32">
                <div class="flex banderole">
                    <p class="banderole-animation uppercase">
                        Le reveil sonne
                        <span class="contents">
                            <img src="./public/icons/bombe.svg" alt="bombe">
                        </span>
                        Chaque clic est une arme à double tranchant
                    </p>
                </div>
                <div class="flex banderole">
                    <p class="banderole-animation uppercase">
                        Le reveil sonne
                        <span class="contents">
                            <img src="./public/icons/bombe.svg" alt="bombe">
                        </span>
                        Chaque clic est une arme à double tranchant
                    </p>
                </div>
                <div class="flex banderole">
                    <p class="banderole-animation uppercase">
                        Le reveil sonne
                        <span class="contents">
                            <img src="./public/icons/bombe.svg" alt="bombe">
                        </span>
                        Chaque clic est une arme à double tranchant
                    </p>
                </div>
            </div>
        </div>
        <div class="info-card flex flex-col gap-24 w-full m-auto max-w-7xl">

            <div class="card-banner card1 rounded-2xl relative">
                <h2 class="pl-12 pt-4"><span>REVEILLEZ</span> VOUS</h2>
                <div class="pt-14 pl-28">
                    <p class="text-3xl max-w-xl">Notre mission est simple : montrer l'impact réel de nos choix de
                        consommation.</p>
                    <p class="text-3xl max-w-xl">À travers une expérience d'achat unique, nous vous invitons à réfléchir
                        et à agir pour un avenir plus durable.</p>
                </div>
                <span class="oeil absolute">
                    <img src="./public/icons/oeil.svg" alt="oeil">
                </span>
                <span class="idea absolute">
                    <img src="./public/icons/ampoule.svg" alt="">
                </span>
            </div>

            <div class="card-banner card2 rounded-2xl relative">
                <h2 class="pl-12 pt-4">CHAQUE <span>CHOIX</span> COMPTE<span>.</span></h2>
                <div class="pt-14 pl-28">
                    <p class="text-3xl max-w-xl">L'écoresponsabilité est notre réponse urgente à un monde en crise
                        écologique. <br> Nous vous guidons pour comprendre et adopter des pratiques qui préservent notre
                        planète.</p>
                </div>
                <span class="fleur absolute">
                    <img src="./public/icons/fleur.svg" alt="fleur">
                </span>
                <span class="warning absolute">
                    <img src="./public/icons/warning.svg" alt="warning">
                </span>
            </div>

            <div class="card-banner card3 rounded-2xl relative">
                <h2 class="pl-12 pt-4"><span>COMMENT</span> ÇA MARCHE <span> ?</span></h2>
                <div class="pt-14 pl-28">
                    <p class="text-3xl max-w-xl">Une expérience révélatrice. <br>
                        Commencez par une navigation simple et découvrez progressivement les conséquences
                        environnementales cachées derrière chaque achat. <br>
                        Un parcours qui transforme la conscience en action.</p>
                </div>
                <span class="curseur absolute">
                    <img src="./public/icons/curseur.svg" alt="curseur">
                </span>
            </div>

        </div>
    </section>

    <section class="bottom-page pt-16 relative">
        <h2>
            ENGAGEZ-VOUS
            <span class="coeur absolute">
                <img src="./public/icons/coeur.svg" alt="coeur">
            </span>
            <span class="epee absolute">
                <img src="./public/icons/epee.svg" alt="epee">
            </span>
        </h2>
        <div>
            <div class="text-bottom-page flex flex-col gap-6">
                <p>Passez à l'action. Votre voyage ici n'est qu'un début.</p>
                <p>Partagez, discutez, et intégrez l'écoresponsabilité dans votre quotidien. <br><br> Rejoignez-nous
                    dans notre quête pour un futur plus vert.</p>
            </div>
            <div class="button-bottom-page flex gap-6">
                <button>
                    <img src="./public/icons/instagram.svg" alt="insta">
                </button>
                <button>
                    <img src="./public/icons/tiktok.svg" alt="tiktok">
                </button>
            </div>
        </div>
    </section>

    {% include "src/templates/footer/footer.html" %}
    <script type="module" src="/src/main.js"></script>
</body>

</html>