// app.scss

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;



//Customs

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan&display=swap');

*{
  color: var(--principal-fontColor);
  font-family: var(--text-font);
}

body{
  background-color: var(--principal-bgColor)
}

@import 'abstracts/variables';
// @import 'abstracts/mixins';
// @import 'abstracts/functions';   

@import 'base/fonts';
// @import 'base/utilities';

@import 'layout/header';
@import 'layout/footer';
// @import 'layout/navigation';
// @import 'layout/grid';

@import 'components/dp';
// @import 'components/cards';
// @import 'components/modals';

// @import 'pages/home';
// @import 'pages/about';
// @import 'pages/contact';

.herobanner{
  & .herobanner-title{
    font-size: 224px;
    font-family: var(--title-font);
    line-height: 1.1;
    padding-bottom: 120px;

    span{
      font-size: 224px;
      font-family: var(--title-font);
      color: var(--secondary-bgColor);
    }
  }

  & .herobanner-text{
    text-transform: uppercase;
    font-size: 32px;
    line-height: 38.4px;

    & p:first-child::after{
      content: url(icons/stars1.svg);
      position: absolute;
      right: calc(0px - 15%);
      top: calc(0px - 70%);
    }

    & p:last-child::before{
      content: url(icons/stars2.svg);
      position: absolute;
      top: calc(0px - 40%);
      left: calc(0px - 15%);
    }

    & p{
      font-weight: 400;
    }

    & p span{
      color: var(--secondary-bgColor);
      font-style: 700;
    }
  }

  & .button{
    background-color: var(--secondary-bgColor);
    cursor: pointer;
    margin-bottom: 70px;

    & p{
      color: var(--secondary-fontColor);
      font-size: 24px;
    }
  }
}

.dp{
  background-color: var(--dp-bgColor);
}

.banner{
  transform: rotateZ(-4deg);
  position: relative;
  p{
    font-size: 120px;
    font-family: var(--title-font);
    color: var(--secondary-fontColor);
    background-color: var(--secondary-bgColor);
    white-space: nowrap;
    animation: move 5s linear infinite;
  }

  &::before{
    content: "";
    position: absolute;
    width: 105%;
    height: 100%;
    inset: 0;
    background-color: red;
    transform: rotateZ(6deg) translateX(-10px);
    background-color: var(--tertiary-bgColor);
    opacity: .5;
  }
}

@keyframes move {
  0% {
    transform: translateX(0); /* Commence sans déplacement */
  }
  100% {
    transform: translateX(-100%); /* Déplacement complet vers la gauche */
  }
}


.card-banner{
  background-color: var( --tertiary-bgColor);
  max-width: 860px;
  min-height: 500px;
  width: 100%;
}

.info-card{
  .card-banner{
    align-self: flex-start;
  }
  .card-banner:nth-child(2){
    align-self: center;
  }
  .card-banner:last-child{
    align-self: flex-end;
  }
}


.card-banner{
  h2{
    font-size: 88px;
    font-family: var(--title-font);
    height: fit-content;

    span{
      font-family: var(--title-font);
      color: var(--secondary-bgColor);
    }
  }
}

.oeil{
  top: 17%;
  right: -5%;
}

.idea{
  bottom: 0;
  right: 0;
}

.fleur{
  right: 5%;
  top: 40%;
}

.warning{
  right: -7%;
  bottom: 10%;
  transform: rotateZ(15deg);
}

.curseur{
  right: -5%;
  bottom: 20%;

}

.bottom-page{
  background-color: var(--secondary-bgColor);
  border-radius: 32px 32px 0 0;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2{
    margin-bottom: 54px;
    font-size: 144px;
    font-family: var(--title-font);
    color: var(--secondary-fontColor);
    text-align: center;
    position: relative;
    width: fit-content;
    z-index: 2;

    .coeur{
      top: 0;
      left: -12%;
      z-index: 3;
    }
  
    .epee{
      top: 15%;
      right: -15%;
      z-index: -1;
      transform: rotateZ(25deg);
    }
  }

  & > div{
    display: flex;
    flex-direction: column;
    gap: 40px;

    .text-bottom-page{
      font-size: 32px;
      font-family: var(--text-font);

      p{
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-fontColor);
      }
    }
    .button-bottom-page{
      justify-content: center;

      & button{
        padding: 6px;
        border-radius: 100%;
        background-color: black;
        & img{
          background-color: black;
          padding: 8px;
          border-radius: 100%;
          border: solid 2px white;
        }
      }
    }
  }
}


.barre-avancement{

  .bg-normal{
    background-color: var(--secondary-bgColor);
    padding: 8px;
    border-radius: 100%;
    transition: all .3s ease;

    &:hover{
      transform: scale(1.25);
    }
  }

  .bg-sombre{
    background-color: #2C5818;
    padding: 8px;
    border-radius: 100%;
  }

  .sidebar-break1{
    width: 230px;
    height: 4px;
    background-color: #6A796E;
  }

  .sidebar-break2{
    width: 70px;
    height: 4px;
    background-color: #6A796E;
  }

  .sidebar-right{
    width: 300px;
    height: 4px;
    background-color: #6A796E;
  }
}
