// app.scss

// Tailwind
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind screens;
@tailwind variants;



//Customs

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=League+Spartan&display=swap');

* {
  font-family: var(--text-font);
}

html {
  scroll-behavior: smooth;
}

body {
  color: var(--principal-fontColor);
  background-color: var(--principal-bgColor)
}

@import 'abstracts/variables';
// @import 'abstracts/mixins';
// @import 'abstracts/functions';   

@import 'animations/animations';

@import 'base/fonts';
// @import 'base/utilities';

@import 'layout/header';
@import 'layout/footer';
// @import 'layout/navigation';
// @import 'layout/grid';

@import 'components/dp';
@import 'components/modal-hp';
// @import 'components/cards';
// @import 'components/modals';

// @import 'pages/home';
// @import 'pages/about';
// @import 'pages/contact';
@import 'pages/fiche-produit';

@import 'utilities/colors';
@import 'utilities/layout';
@import 'utilities/text';


.herobanner {
  & .herobanner-title {
    font-size: 224px;
    font-family: var(--title-font);
    line-height: 1.1;
    padding-bottom: 120px;

    span {
      font-size: 224px;
      font-family: var(--title-font);
      color: var(--secondary-bgColor);
    }
  }

  & .herobanner-text {
    text-transform: uppercase;
    font-size: 32px;
    line-height: 38.4px;

    & p:first-child::after {
      content: url(icons/stars1.svg);
      position: absolute;
      right: calc(0px - 15%);
      top: calc(0px - 70%);
    }

    & p:last-child::before {
      content: url(icons/stars2.svg);
      position: absolute;
      top: calc(0px - 40%);
      left: calc(0px - 15%);
    }

    & p {
      font-weight: 400;
    }

    & p span {
      color: var(--secondary-bgColor);
      font-style: 700;
    }
  }

  & .button {
    background-color: var(--secondary-bgColor);
    cursor: pointer;
    margin-bottom: 70px;

    & p {
      color: var(--secondary-fontColor);
      font-size: 24px;
    }
  }
}

.dp {
  background-color: var(--dp-bgColor);
}

.banner-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 300px;
  overflow: hidden;
}

.banner {
  position: relative;
  transform: rotateZ(-4deg);
  margin: 0 -10px;
  width: calc(100% + 20px);

  .banderole {
    animation: move 5s linear infinite;
    background-color: var(--secondary-bgColor);
    white-space: nowrap;
  }

  .banderole-animation {
    display: flex;
    width: 2400px;
  }

  .banderole-animation-classement {
    display: flex;
    width: 1600px;
  }

  p {
    display: flex;
    font-size: 120px;
    font-family: var(--title-font);
    color: var(--secondary-fontColor);
    white-space: nowrap;
  }

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
    background-color: red;
    transform: rotateZ(6deg) translateX(-10px);
    background-color: var(--tertiary-bgColor);
    opacity: .5;
  }
}

@keyframes move {
  0% {
    transform: translateX(0);
    /* Commence sans déplacement */
  }

  100% {
    transform: translateX(-100%);
    /* Déplacement complet vers la gauche */
  }
}


.card-banner {
  background-color: var(--tertiary-bgColor);
  max-width: 860px;
  min-height: 500px;
  width: 100%;
}

.info-card {
  .card-banner {
    align-self: flex-start;
  }

  .card-banner:nth-child(2) {
    align-self: center;
  }

  .card-banner:last-child {
    align-self: flex-end;
  }
}


.card-banner {
  h2 {
    font-size: 88px;
    font-family: var(--title-font);
    height: fit-content;

    span {
      font-family: var(--title-font);
      color: var(--secondary-bgColor);
    }
  }
}

.oeil {
  top: 17%;
  right: -5%;
}

.idea {
  bottom: 0;
  right: 0;
}

.fleur {
  right: 5%;
  top: 40%;
}

.warning {
  right: -7%;
  bottom: 10%;
  transform: rotateZ(15deg);
}

.curseur {
  right: -5%;
  bottom: 20%;

}

.bottom-page {
  background-color: var(--secondary-bgColor);
  border-radius: 32px 32px 0 0;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 54px;
    font-size: 144px;
    font-family: var(--title-font);
    color: var(--secondary-fontColor);
    text-align: center;
    position: relative;
    width: fit-content;
    z-index: 2;

    .coeur {
      top: 0;
      left: -12%;
      z-index: 3;
    }

    .epee {
      top: 15%;
      right: -15%;
      z-index: -1;
      transform: rotateZ(25deg);
    }
  }

  &>div {
    display: flex;
    flex-direction: column;
    gap: 40px;

    .text-bottom-page {
      font-size: 32px;
      font-family: var(--text-font);

      p {
        text-align: center;
        text-transform: uppercase;
        color: var(--secondary-fontColor);
      }
    }

    .button-bottom-page {
      justify-content: center;

      & button {
        padding: 6px;
        border-radius: 100%;
        background-color: black;

        & img {
          background-color: black;
          padding: 8px;
          border-radius: 100%;
          border: solid 2px white;
        }
      }
    }
  }
}


.barre-avancement {

  .bg-normal {
    background-color: var(--secondary-bgColor);
    padding: 8px;
    border-radius: 100%;
    transition: all .3s ease;

    &:hover {
      transform: scale(1.25);
    }
  }

  .bg-sombre {
    background-color: #2C5818;
    padding: 8px;
    border-radius: 100%;

    :hover {
      cursor: not-allowed;
    }
  }

  .sidebar-break1 {
    width: 230px;
    height: 4px;
    background-color: #6A796E;
  }

  .sidebar-break2 {
    width: 70px;
    height: 4px;
    background-color: #6A796E;
  }

  .sidebar-right {
    width: 300px;
    height: 4px;
    background-color: #6A796E;
  }
}

.paiement-container-mid {
  padding: 0 170px;
  gap: 54px;

  .paiement-left {
    max-width: 56%;
    width: 100%;
  }
}

.paiement-container {
  padding: 0 72px;
  gap: 54px;

  .paiement-left {
    max-width: 56%;
    width: 100%;
  }
}

.border-form {
  border: 1px solid var(--secondary-bgColor);

  & label {
    border: 1px solid var(--secondary-bgColor);
    width: 30px;
    height: 30px;
    border-radius: 100vmax;
    position: relative;
  }

  input[type=radio]:checked~label::after {
    content: "";
    position: absolute;
    width: 15px;
    height: 15px;
    background-color: var(--secondary-bgColor);
    border-radius: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.icon-form {
  left: -3%;
  top: -12%;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #98A39B;
}

.bouton-poursuivre {
  background-color: var(--secondary-bgColor);
  border-radius: 6px;
}

.paiement-right-top,
.paiement-right-bottom {
  background-color: var(--tertiary-bgColor);
  border-radius: 8px;
}

.fall-right-anim {
  animation-name: fallRight;
  animation-duration: 1.3s;
  animation-delay: 2s;
  animation-fill-mode: both;
}

.fall-left-anim {
  animation-name: fallLeft;
  animation-duration: 1.3s;
  animation-delay: 3s;
  animation-fill-mode: both;
}

.fall-anim {
  animation-name: fall;
  animation-duration: 1s;
  animation-delay: 4s;
  animation-fill-mode: both;
}

@keyframes fallLeft {
  0% {
    transform: rotateZ(0deg) translateY(0px);
  }

  30% {
    transform: rotateZ(3deg) translateY(20px);
  }

  60% {
    transform: rotateZ(2deg) translateY(20px);
  }

  100% {
    transform: rotateZ(3deg) translateY(20px);
  }
}

@keyframes fallRight {
  0% {
    transform: rotateZ(0deg) translateY(20px);
  }

  30% {
    transform: rotateZ(-3deg) translateY(20px);
  }

  60% {
    transform: rotateZ(-2deg) translateY(20px);
  }

  100% {
    transform: rotateZ(-3deg) translateY(20px);
  }
}

@keyframes fall {
  0% {
    transform: translateY(0px) rotateZ(0deg);
  }

  30% {
    transform: translateY(0px) rotateZ(3deg);
  }

  60% {
    transform: translateY(0px) rotateZ(-3deg);
  }

  100% {
    transform: translateY(20px) rotateZ(0deg);
  }
}

.anim-rotate {
  animation-name: rotate;
  animation-duration: .5s;
  animation-delay: .3s;
  animation-fill-mode: both;
}

@keyframes rotate {
  0% {
    transform: rotateZ(0deg);
  }

  100% {
    transform: rotateZ(20deg);
  }
}

.anim-rotate-bar {
  animation-name: rotateBar;
  animation-duration: .5s;
  animation-delay: .3s;
  animation-fill-mode: both;
  z-index: -1;
}

@keyframes rotateBar {
  0% {
    transform: rotateZ(0deg) translateY(0px);
  }

  100% {
    transform: rotateZ(20deg) translateY(45px);
  }
}

.dp-card-img-wrapper {
  width: 336px;
  height: 371px;
  flex-shrink: 0;
}

.livraison-absolute-text,
.paiement-absolute-text,
.confirmation-absolute-text {
  position: absolute;
  left: 50%;
  top: 150%;
  transform: translate(-50%, -50%);
}


.first-paiement-sidebar-break1 {
  transform: rotateZ(6deg) translateY(12px);
  z-index: -1;
}

.first-paiement-sidebar-break2 {
  transform: rotateZ(10deg) translateY(-10px);
  z-index: -1;
}

.second-paiement-sidebar-break1 {
  transform: rotateZ(-3deg) translateY(-6px);
  z-index: -1;
}

.second-paiement-sidebar-break2 {
  transform: rotateZ(-10deg) translateY(10px);
  z-index: -1;
}

label {
  border: 1px solid var(--secondary-bgColor);
  width: 30px;
  height: 30px;
  border-radius: 100vmax;
  position: relative;
}

input[type=radio]:checked~label::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background-color: var(--secondary-bgColor);
  border-radius: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form-bancaire {
  border: 1px solid var(--secondary-bgColor);
  border-radius: 8px;

  & .form-bancaire-input {
    background-color: #98A39B;
    border-radius: 8px;

    & input {
      padding: 8px 12px 8px 12px;
      border: 1px solid #CBD5E1;
      border-radius: 6px;
    }
  }
}

.form-choix-de-paiement {
  font-size: 20px;
  font-weight: 800;
}

.form-choix-de-paiement-light {
  font-size: 16px;
  font-weight: 400;
  color: #BAC1BC;
}

// Class Background Input
.inputChecked {
  background-color: rgba(255, 255, 255, 0.2);
}

.title-confirmation {
  font-size: 26px;
  font-weight: bold;
  line-height: 32px;
}

.text-confirmation {
  font-size: 20px;
  line-height: 30px;
}


.bug-confirmation-bottom {
  position: absolute;
  bottom: -100%;
  left: 10%;
}

.bug-confirmation-top {
  position: absolute;
  top: 0%;
  left: 0;
}

.bug-confirmation-bottom-left {
  position: absolute;
  bottom: -80%;
  left: 0;
}

.herobanner-classement {
  h1 {
    margin-top: 70px;
    margin-bottom: 70px;
    font-size: 96px;
    font-family: var(--title-font);

    span {
      color: var(--secondary-bgColor);
      font-family: var(--title-font);
    }
  }
}

.classement-finale{
  h2{
    font-size: 28px;
  }
  h3{
    font-size: 48px;
    font-family: var(--title-font);
    span{
      font-size: 48px;
      font-family: var(--title-font);
      color: var(--secondary-bgColor);
    }
  }
  .classement-finale-left-info{
    background-color: var(--tertiary-bgColor);
    padding: 32px;
    border-radius: 18px;
  }
  .border-classement{
    border: 1px solid var(--secondary-bgColor);
  }
}

.border-classement {
  border: 1px solid var(--secondary-bgColor);
}

.classement-player {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 8px 32px 8px 16px;
  border-radius: 8px;
  min-width: 500px;
  width: 100%;

  .nb-classement {
    font-size: 32px;
  }

  .classement-name {
    font-size: 24px;
  }

  .btn-classement {
    width: 57px;
    height: 57px;
    font-size: 18px;
    background-color: var(--tertiary-bgColor);
    padding: 8px;
    border-radius: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;

    & p {
      width: 40px;
      height: 40px;
      padding: 6px;
      border: 1px solid var(--secondary-bgColor);
      border-radius: 100%;
    }
  }
}

.coeur-classement {
  top: -5%;
  left: 45%;
}

.fleur-classement {
  top: -8%;
  left: 50%;
}

.bottom-page-classement {
  background-color: var(--secondary-bgColor);
  border-radius: 32px 32px 0 0;
  padding-bottom: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;

  h2 {
    margin-bottom: 54px;
    font-size: 144px;
    font-family: var(--title-font);
    color: var(--secondary-fontColor);
    text-align: center;
    position: relative;
    width: fit-content;
    z-index: 2;
  }

  h3 {
    font-size: 34px;
    font-family: var(--title-font);
    color: #87DB61;
  }
}