.footer{
  background-color: var(--tertiary-bgColor);
}

.footer-link > li::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 16px;
  width: 0;
  height: 4px;
  background-color: var(--secondary-bgColor);
  border-radius: 4px;
  transition: width .4s ease;
}

.footer-link > li:hover::after{
  width: calc(100% - 32px);
}

.footer-link > li:hover{
  cursor: pointer;
}